<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Starter</title>
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />

    <!-- styles -->
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <main>
      <section class="container">
        <!-- title -->
        <div class="title">
          <h1>ECO TAG</h1>
          <div class="underline"></div>
        </div>
        <div class="productName">
            <h2>  <span id="myText">{{object.description}}</span> </h2>
            
        </div>
        <!-- review -->
        <article class="review">
          <div class="img-container">
            <img src="waterWaste.png" id="logo-img" alt="" />
          </div>
          <h4 id="object">H2O Usage</h4>
          <p id="Score"><span id="h2o"> L</p>
          <p id="info">
            To create your product <span id="h2o"></span> L of water where needed
          </p>
          <!-- prev next buttons-->
          <div class="button-container">
            <button class="prev-btn">
              <i class="fas fa-chevron-left"></i>
            </button>
            <button class="next-btn">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
          <!-- random button -->
          <button class="random-btn">surprise me</button>
        </article>

        <article class="review">
            <div class="img-container">
              <img src="1.png" id="logo-img" alt="" />
            </div>
            <h4 id="object">Power Consumption</h4>
            <p id="Score">1 MW</p>
            <p id="info">
              To create your product 1MW of power was needed
            </p>
            <!-- prev next buttons-->
            <div class="button-container">
              <button class="prev-btn">
                <i class="fas fa-chevron-left"></i>
              </button>
              <button class="next-btn">
                <i class="fas fa-chevron-right"></i>
              </button>
            </div>
            <!-- random button -->
            <button class="random-btn">surprise me</button>
          </article>

          <article class="review">
            <div class="img-container">
              <img src="co2emissions.png" id="logo-img" alt="" />
            </div>
            <h4 id="object">CO2 Emissions</h4>
            <p id="Score">50 Kg</p>
            <p id="info">
              To create your product 50Kg of CO2 where released to the atmosphere
            </p>
            <!-- prev next buttons-->
            <div class="button-container">
              <button class="prev-btn">
                <i class="fas fa-chevron-left"></i>
              </button>
              <button class="next-btn">
                <i class="fas fa-chevron-right"></i>
              </button>
            </div>
            <!-- random button -->
            <button class="random-btn">surprise me</button>
          </article>
        </section>
    </main>
    <!-- javascript -->
    <script src="app.js"></script>
  </body>
</html>
